<!DOCTYPE html>
<html>
   <head>
       <meta charset="utf-8">
      <meta content='width=auto, initial-scale=1.0, maximum-scale=1.0' name='viewport'/>
      <style>
        .ot-col-33{width:33%;display:inline-block; padding:10px; box-sizing: border-box; float: left; min-height: 1px;}
        .ot-img{width:100%;}
        .ot-col-100{width:100%; display:inline-block; box-sizing: border-box; float: left; min-height: 1px;}
        .ot-date{padding:10px;}
      </style>
   </head>
   <body style="margin:0">
        <div style="padding: 10px;background: #F8F3F2;position: fixed;display: inline-block;width: 100%; top:0">
            <a href="/">upload</a>
            <a href="/thumbnails">thumbnails</a>
        </div>
        <div class="ot-col-100" style="margin-top:50px;">
        <% images.each do |key, value| %>
            <div class="ot-col-100 ot-date"><%=key%></div>
            <%value.each do |val|%>
            <div class="ot-col-33">
                <img class="ot-img" src='<%=url + val.key%>'/>
                <div><%=val.last_modified.utc.strftime("%I:%M%p UTC")%> <a href="<%=url + val.key%>" target="_blank">original</a></div>
            </div>
            <%end%>
        <%end%>
        <div>
   </body>
</html>